<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="CWDatabase"
         connectionString="Data Source=localhost; Database=cwwebapp_training; User Id=cwkblogin; Password=Password123;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="maxResults" value="30" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <httpHandlers>
      <add verb="*" type="System.Web.StaticFileHandler" path="/Styles/*" />
      <add verb="*" type="System.Web.StaticFileHandler" path="/Scripts/*" />
      <add verb="*" type="System.Web.StaticFileHandler" path="/Images/*" />
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="StaticCSS" verb="*" type="System.Web.StaticFileHandler" path="/Styles/*" />
      <add name="StaticScripts" verb="*" type="System.Web.StaticFileHandler" path="/Scripts/*" />
      <add name="StaticImages" verb="*" type="System.Web.StaticFileHandler" path="/Images/*" />
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>
